{% extends "basecert.html" %}

{% block title %}CERTIFICATE OF OJT{% endblock %}

{% block certificate-forms %}
    <h3>ENTER OJT DETAILS</h3>
    <form>
        <label>Student Name:</label>
        <input type="text" id="studentName" placeholder="Enter Student Name">
        <label>Course:</label>
        <input type="text" id="course" placeholder="Enter Course">
        <label>School:</label>
        <input type="text" id="school" placeholder="Enter School">
        <label>Render Time:</label>
        <input type="text" id="render_time" placeholder="Enter Render Time">
        
        <br>

        <label>Date Started:</label>
        <input type="date" id="date_started">
        <label>Date Ended:</label>
        <input type="date" id="date_ended">
        <label>Date Issued:</label>
        <input type="date" id="date_issued">
    </form>
{% endblock %}

{% block scripts %}
<script>
    localStorage.setItem("certType", "internship");
</script>
{% endblock %}