{% extends "base.html" %}

{% block title %}DASHBOARD{% endblock %}

{% block content %}
    <!-- STYLES -->
    <style>
    body {
        color: white;
    }
    .container {
        display: flex;
        justify-content: center;
        gap: 200px;
    }

    .box {
        width: 200px;
        height: 100px;
        background-color: lightblue;
        border: 2px solid black;
        /* display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; */
        /* cursor: pointer; */
    }

    .box a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
    }
    .alert-success {
        background-color: #d4edda; /* Light green background */
        color: #155724; /* Dark green text */
        border: 1px solid #c3e6cb; /* Green border */
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        text-align: center;
    }

    .header-text {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    </style>

    <!-- BODY -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="header-text">
        <h1>E-Certificate Dashboard</h1>
        <p>Make every cert happen</p>
    </div>

    <br>

    <!-- 2 certs, butngan ranig image puhon instead of text -->
    <div class="container">
        <div class="box">
            <a href="{% url 'certapp' %}">Certificate of Appearance</a>
        </div>
        
        <div class="box">
            <a href="{% url 'certojt' %}">Certificate of OJT</a>
        </div>
    </div>

    <!-- Temporary Logout -->
    <a href="{% url 'logout' %}">Logout</a>

{% endblock %}