{% extends "base.html" %}

{% block title %}SIGN UP{% endblock %}

{% block content %}

    <!-- STYLES -->
    <style>
        body {
            color: white;
        }
    </style>

    <!-- BODY -->
    <h1>Sign Up</h1>

    <form id="signup">
        <label>First name:</label>
        <input type="text" placeholder="Enter First Name">

        <br>

        <label>Last name:</label>
        <input type="text" placeholder="Enter Last Name">

        <br>

        <label>Email</label>
        <input type="text" placeholder="Enter Email">

        <br>

        <label>Password</label>
        <input type="text" placeholder="Enter Password">

        <br>
        
        <label>Confirm Password</label>
        <input type="text" placeholder="Confirm Password">

        <br>

        <input type="submit" value="Sign up">
    </form>

    <br>
    <!-- Prev page -->
    <a href="{% url 'home' %}"><button>Go Back</button></a>

    <!-- JAVASCRIPT -->
    <script>
        document.getElementById("signup").addEventListener("submit", function(event) {
            event.preventDefault(); // redirects to page instead of refreshes to submit
            window.location.href = "{% url 'dashboard' %}"; 
        });
    </script>
{% endblock %}
